<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Test" connectionString="Server=ahg2g9tnre.database.windows.net,1433;Database=deje;User ID=zeks@ahg2g9tnre;Password=Z3ks_J0va;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=njamnjam;AccountKey=nqKR57B4UNUHjWl35MVPVSXtPPuxiamZmzDFrQeRIjfbED2XvDfVcs4K6nuptxDgs/GyVVPNDXPuppOg22K1kA==" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>