body {
    background: url("images/bg_texture.png") repeat transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header nav {
    float: right;
}

header nav > ul {
    float: left;
    list-style-type: none;
}

header nav > ul > li > a, header nav > ul > li > a:visited {
    text-decoration: none;
    font-size: 12px;
    color: #555;
}

header nav > ul > li > a:hover {
    color: #88AF00;
}

footer {
    margin-top: 10px;
    color: #858585;
    font-size: 12px;
    text-shadow: 0px 1px 0px white;
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 3px #A7A7A7;
    -moz-box-shadow: 0px 1px 3px #a7a7a7;
    background: #FBFBFB;
    background: -moz-linear-gradient(top, #FBFBFB 0%, #E8E8E8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #E8E8E8));
    background: -webkit-linear-gradient(top, #FBFBFB 0%, #E8E8E8 100%);
    background: -o-linear-gradient(top, #FBFBFB 0%, #E8E8E8 100%);
    background: -ms-linear-gradient(top, #FBFBFB 0%, #E8E8E8 100%);
    background: linear-gradient(top, #FBFBFB 0%, #E8E8E8 100%);
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bold {
    font-weight: bold;
}

.left {
    float: left;
}

.labela {
    float: left;
    width: 120px;
    font-weight: bold !important;
    
}

.editor {
    float: left;
    margin: 0 0 4px 4px;
}

.editor input:focus {
    border-color: transparent;
}

.form_button {
    float: right;
    margin: 4px 0 0 4px;
}

.form {
    overflow: hidden;
    margin-left: 120px;
    width: 350px;
}

.line {
    clear: both;
}

.buttons_line {
    clear: both;
    margin-right: 27px;
}

.status {
    font-family: "Verdana";
    font-size: 11px;
}

.warning {
    vertical-align: middle;
    background: url('images/sprite.png') no-repeat 0 -2px;
}
.error {
    vertical-align: middle;
    background: url('images/sprite.png') no-repeat -20px -2px;
}

.info {
    vertical-align: middle;
    background: url('images/sprite.png') no-repeat -40px -2px;
}

.separator {
    color: #88AF00;
    border-bottom: 1px #88AF00 solid;
    font-size: 14px;
}

.form .separator {
    margin-top: 48px;  
    margin-right: 24px;
}

#wrapper {
    width: 960px;
    margin: auto;
}

#logo {
    float: left;
}

#New {
    margin-bottom: 4px;
}

#content {
    
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 3px #A7A7A7;
    -moz-box-shadow: 0px 1px 3px #a7a7a7;
    padding: 15px;
    min-height: 600px;
}

#mapa {
    float: right;
    width: 460px;
    height: 452px;
    border1: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 3px #A7A7A7;
    -moz-box-shadow: 0px 1px 3px #a7a7a7;
}
